@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.big-container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.big-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 5%;
}

.about {
    border-radius: 30px;
    background-color: #0052cc;
    color: white;
}

.buttons-container > a {
    min-width: 20%;
    padding: 10px;
    margin: 20px 10px 0px 0px;
}

.big-container > img {
    max-width: 40%;
    margin: 20px;
}

.team-container { display: flex; }

.team-member {
    display: flex;
    flex-direction: column;
    background-color: #CADDFF;
    align-items: center;
    margin: 15px;
    border-radius: 10px;
    color: #0052cc;
}

.team-member > img {
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.footer-container {
    display: flex;
    background-color: #0052cc;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2%;
}

/* START OF NAVBAR */

.header-item {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: #0052cc;
    margin-bottom: 2%;
}

.navbar {
    width: 100%;
    background-color: #0052cc;
}

.logo { padding-left: 2%; }
.items { padding-right: 2%; }

/* END OF NAVBAR */

.spacer { margin: 15px; }

.title-container { display: flex; }

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.name {
    font-weight: bold;
    font-size: large;
}

.role { font-variant: small-caps; }
