<!DOCTYPE html>
<html>
<head>
    <title>Home</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="homepage.css">
    
    <!-- ======= Bootstrap 5 ======= -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="main-container">
    {{>header this}}
        <!-- ======= Home Section ======= -->
        <div class="big-container container">
            <div class="big-container-text">
                <h1>Reserving has never been so easy</h1>
                <p>Hassle-free reservations with our quick and easy click and reserve system! </p>

                <div class="buttons-item">
                    <div class="buttons-container">
                        <a href="reserve_seat"><button>Reserve Now</button></a>
                        <a href="#about"><button>Learn More</button></a>
                    </div>
                </div>
            </div>
            <img src="images/1.png">
        </div>

        <hr id="about">
        <div class="spacer"></div>

        <!-- ======= About Section ======= -->
        <div class="big-container container">
            <img src="images/2.png">   
            <div class="big-container-text about shadow">
                <h1>About</h1>

                <p></p>

                <p>Students have it tough reserving computer systems with 1990 Cold War Era UI and very slow servers, we aim to change that. Here at comluv you'll learn to luv reserving computers!</p>

                <p>Our team consists of 4 software developers, Ghee Kaye Lopez (Single), Abigail Seperidad (Flexer), Reever Lacson (Tulog), Jaryll Francis Salvador (Baliw).</p>
                
                <p>The following are the npm packages used in the project:</p>
                <ul>
                    <li>"bcrypt": "^5.1.1",</li>
                    <li>"body-parser": "^1.20.2",</li>
                    <li>"express": "^4.19.2",</li>
                    <li>"express-handlebars": "^7.1.2",</li>
                    <li>"express-session": "^1.18.0",</li>
                    <li>"mongoose": "^8.3.0",</li>
                    <li>"multer": "^1.4.5-lts.1"</li>
                </ul>
            
            </div>
        </div>

        <div class="spacer"></div>

        <!-- ======= Team Section ======= -->
        <div class="title-container container justify-content-center">
            <h1>Our developer team</h1>
        </div>

        <div class="team-container container">
            <div class="team-member shadow">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                <div class="details">
                    <span class="name">Reever Mikael Lacson</span>
                    <span class="role">software developer</span>
                </div>
            </div>
            <div class="team-member shadow">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                <div class="details">
                    <span class="name">Ghee Kaye Lopez</span>
                    <span class="role">software developer</span>
                </div>
            </div>
            <div class="team-member shadow">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                <div class="details">
                    <span class="name">Jaryll Francis Salvador</span>
                    <span class="role">software developer</span>
                </div>
            </div>
            <div class="team-member shadow">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                <div class="details">
                    <span class="name">Abigail Seperidad</span>
                    <span class="role">software developer</span>
                </div>
            </div>
        </div>

        <div class="spacer"></div>
        {{> footer}}
    </div>
</body>
</html>
