<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Register and Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container" id="container">
        <div class="container-title">
            <img src="images/logo.png" alt="" class="logo">comluv.
        </div>
        <div class="form-container signup-container">
			<form action="profile/create-user" method="post" name="sign-up-form">
				<h1>Create Account</h1>
				
				<div class="input-control">
					<input type="text" placeholder="First Name" name="firstname"/>
					<div class="error"></div>
				</div>
				
				<div class="input-control">
					<input type="text" placeholder="Last Name" name="lastname"/>
					<div class="error"></div>
				</div>
				
				<div class="input-control">
					<input type="text" placeholder="Username" name="account_name"/>
					<div class="error"></div>
				</div>
				
				<div class="input-control">
					<input type="email" placeholder="Email" name="profile_email"/>
					<div class="error"></div>
				</div>
				
				<div class="input-control">
					<input type="password" placeholder="Password" name="password"/>
					<div class="error"></div>
				</div>
				
				<a href="#" class="error">{{signUpError}}</a> 
				<button class="button-item" type="submit">Sign Up</button>
			</form>
		</div> 
		<div class="form-container login-container">
			<form action="login/read-user" method="post" name="login-form">
				<h1>Log In</h1>
				
				<div class="input-control">
					<input type="text" placeholder="Username" name="user" />
					<div class="error"></div>
				</div>
				
				<div class="input-control">
					<input type="password" placeholder="Password" name="pass" />
					<div class="error"></div>
				</div>
				
				{{!-- <input type="checkbox" class="input-checkbox" id="rememberMe" name="rememberMe" value="rememberMe"> --}}
				<p class="p-checkbox"> <input type="checkbox" class="input-checkbox" id="rememberMe" name="rememberMe" value="rememberMe"> Remember Me </p>
				
				<a href="#" class="error">{{error}}</a> 
				<a href="#" class="forgot">Forgot your password?</a> 
				<button class="button-item" type="submit">Log In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome!</h1>
					<p>To keep connected with us please log in your personal information.</p>
					<button class="over-btn button-item" id="login">Log In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello!</h1>
					<p>Enter your personal details and start reserving in our lab now.</p>
					<button class="over-btn button-item" id="signup">Sign Up</button>
					<a class="button-item" href="homepage"><button class="over-btn button-item" href="homepage" id="guest">Continue as Guest</button></a> 
				</div>
			</div>
		</div>
    </div>
    <div id="forgotPasswordPopup" class="popup-container" style="display:none;">
	    <div class="popup-content">
	        <span class="close-button">&times;</span>
	        <h2>Forgot Password</h2>
	        <form action="login/update-password" method="post" id="resetPasswordForm">
	            <input type="email" class="input-style" placeholder="Email" name="email" required>
	            <input type="password" class="input-style" placeholder="New Password" name="newpass" required>
	            <button class="button-item" type="submit">Confirm</button>
	        </form>
	    </div>
	</div>
	{{#if updatePassSuccess}}
    <div id="updatePassContainer" class="popup-container" style="display:flex;">
	    <div class="popup-content">
	        <span class="x-button close-button">&times;</span>
	        <h2 style="text-align: center"> Password updated successfully!</h2>
	    </div>
	</div>
	{{/if}}
    <script src="scripts/index.js"></script>
</body>
</html>
