<div class="header-item">
    <nav class="navbar navbar-expand-sm navbar-dark shadow">
        <div class="container">
            <!-- Logo section -->
            <div class="mr-auto logo">
                <img class="logo-img" src="images/logo.png" alt="">
                <a class="navbar-brand logo-text" href="homepage">comluv.</a>
            </div>

            <!-- Navigation items -->
            <div class="items">
                <ul class="navbar-nav">
                    <input type="text"> <button class="search">Search</button>
                    <!-- Home link -->
                    <li class="nav-item">
                        <a class="nav-link active" href="homepage">Home</a>
                    </li>
                    <!-- Reserve link -->
                    <li class="nav-item">
                        <a class="nav-link" href="reserve_seat">Reserve</a>
                    </li>
                    <!-- About link -->
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <!-- Profile dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile <!-- change this to acc name -->
                        </a>
                        <!-- Dropdown menu -->
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <!-- View Profile option -->
                            <a class="dropdown-item" href="profile">View Profile</a>
                            <!-- Log Out option -->
                            <a class="dropdown-item" href="/">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
