<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve</title>

    <!-- BOOTSTRAP HERE -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="reserve_seat.css">
</head>
<body>
    {{> header}}
    <div class="body-container">
        <div id="reserve-screen" class="reserve-screen bounded-box">
            <div class="row" id="0">
                <div class="table" id="0">
                    <div class="seat" id="0"></div>
                    <div class="seat" id="1"></div>
                    <div class="seat" id="2"></div>
                </div>
                <div class="table" id="1">
                    <div class="seat" id="3"></div>
                    <div class="seat" id="4"></div>
                    <div class="seat" id="5"></div>
                </div>
                <div class="table" id="2">
                    <div class="seat" id="6"></div>
                    <div class="seat" id="7"></div>
                    <div class="seat" id="8"></div>
                </div>
            </div>
            <div class="row" id="1">
                <div class="table" id="3">
                    <div class="seat" id="9"></div>
                    <div class="seat" id="10"></div>
                    <div class="seat" id="11"></div>
                </div>
                <div class="table" id="4">
                    <div class="seat" id="12"></div>
                    <div class="seat" id="13"></div>
                    <div class="seat" id="14"></div>
                </div>
                <div class="table" id="5">
                    <div class="seat" id="15"></div>
                    <div class="seat" id="16"></div>
                    <div class="seat" id="17"></div>
                </div>
            </div>
            <div class="row" id="2">
                <div class="table" id="6">
                    <div class="seat" id="18"></div>
                    <div class="seat" id="19"></div>
                    <div class="seat" id="20"></div>
                </div>
                <div class="table" id="7">
                    <div class="seat" id="21"></div>
                    <div class="seat" id="22"></div>
                    <div class="seat" id="23"></div>
                </div>
                <div class="table" id="8">
                    <div class="seat" id="24"></div>
                    <div class="seat" id="25"></div>
                    <div class="seat" id="26"></div>
                </div>
            </div>
            <div class="row" id="3">
                <div class="table" id="9">
                    <div class="seat" id="27"></div>
                    <div class="seat" id="28"></div>
                    <div class="seat" id="29"></div>
                </div>
                <div class="table" id="10">
                    <div class="seat" id="30"></div>
                    <div class="seat" id="31"></div>
                    <div class="seat" id="32"></div>
                </div>
                <div class="table" id="11">
                    <div class="seat" id="33"></div>
                    <div class="seat" id="34"></div>
                    <div class="seat" id="35"></div>
                </div>
            </div>
            <div class="row" id="4">
                <div class="table" id="12">
                    <div class="seat" id="36"></div>
                    <div class="seat" id="37"></div>
                    <div class="seat" id="38"></div>
                </div>
                <div class="table" id="13">
                    <div class="seat" id="39"></div>
                    <div class="seat" id="40"></div>
                    <div class="seat" id="41"></div>
                </div>
                <div class="table" id="14">
                    <div class="seat" id="42"></div>
                    <div class="seat" id="43"></div>
                    <div class="seat" id="44"></div>
                </div>
            </div>
            <span class="front">front</span>
        </div>
        <div class="details-section">
            <h1>Create Reservation</h1>
                <div class="time-slot select-wrapper">
                    <p>Classroom: </p>
                    <select name="Time Slots" id="time-slots" class="select-wrapper">
                        <option value="101">G101</option>
                        <option value="102">G102</option>
                        <option value="103">G103</option>
                    </select>
                </div>
                <div class="time-slot select-wrapper">
                    <p>Time Slot:</p>
                    <select name="Time Slots" id="time-slots" class="select-wrapper">
                        <option value="915"> 09:15-10:45</option>
                        <option value="1100">11:00-12:30</option>
                        <option value="1245">12:45-14:15</option>
                        <option value="230"> 14:30-06:00</option>
                    </select>
                </div>
            <p id="seat-number">No seat selected.</p>
            <button id="reserve" class="button">Reserve</button>
        </div>
    </div>
    {{> footer}}
    <script src="reserve_seat.js"></script>
</body>
</html>