@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* { box-sizing: border-box; }

body {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}

h1 {
    font-weight: bold;
    margin: 0;
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #0052cc;
    font-size: 14px;
    text-decoration: none;
}
       
.p-checkbox {
    font-size:11px;
    text-align: start;
    margin-top: 1px;
    margin-bottom: 1px;
}

.container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 500px;
    min-width: 50%;
}

.form-container{ 
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(10px); 
}

.form-container, .signup-input-control input, .input-control {
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.form-container input {
    background-color: #ffffff;
    border-color: white;
    border-radius: 6px;
    padding: 12px 15px;
    margin: 5px 0;
    letter-spacing: 0.15px;
    outline: none;
    transition: 0.25s ease;
    box-shadow: 2px 2px 1px 0px #d1d9e6, inset 0px 0px 4px 3px #f9f9f9;
    font-size: 12px;
    display: block;
}


.form-container input:focus {
    outline: 0; 
}

.form-container .input-control.success input, .signup-input-control.success.image input {
    border-color: #09c372; 
}

.form-container .input-control.error input, .signup-input-control.error input {
    border-color: #ff3860; 
}

.form-container .input-control .error, .signup-input-control .error {
    color: #ff3860;
    font-size: 9px;
}

.form-container input[type="checkbox"] {
    margin-right: 2px; 
    display: inline-block; 
    vertical-align: middle; 
    outline: 1px solid #4e5157;
    accent-color: #0052cc;
      
}

.form-container button, button {
    border-radius: 20px;
    border: 1px solid #195092;
    background-color: #0052cc;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.22);
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.over-btn {
    background: transparent;
    border-color: #fff;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: 0.6s ease-in-out;
    
}

.login-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.signup-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.signup-container button {
    border: 1px solid #195092;
    background-color: #0052cc;
    margin-top: 10px;
    margin-left: 23%;
}

.signup-container .error {
    font-size: 9px;
    flex-direction: column;
    margin-bottom: 10px;
    color: red;
}

.login-container button {
    border: 1px solid #195092;
    background-color: #0052cc;
    margin-left: 5%;
}

.login-container .forgot {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 20px;
}

.login-container .error {
    font-size: 12px;
    flex-direction: column;
    margin-bottom: 10px;
    color: red;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
    border-radius: 10px;
}

.overlay {
    background: linear-gradient(to right, #018ABE, #0052cc) no-repeat 0 0 / cover;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    border-radius: 10px;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .login-container {
    transform: translateX(100%);
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container.right-panel-active .signup-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.container-title {
    position: absolute;
    top: 10px;
    left: 20px; 
    font-size: 20px; 
    font-weight: bolder;
    color: #195092; 
    z-index: 1000;
    transition: color 2s ease;
}

.logo {
    height: 20px; 
    width: auto; 
    margin-right: 5px; 
    vertical-align: middle;
    transition: filter 1.5s ease; 
}

.button-item, .button-item > button { font-family: 'Montserrat', sans-serif; margin-bottom: 10px;}

.popup-container {
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    width: 90%;
    max-width: 400px;
}

.popup-content .close-button {
    float: right;
    cursor: pointer;
}

.popup-content form {
    display: flex;
    flex-direction: column;
    display: block;
}

.popup-content button {
    margin: 10px 0;
    border: 1px solid #ddd;
    display: block;
    margin-left: 100px;
}

.input-style {
    background-color: #ffffff;
    border-color: white;
    border-radius: 6px;
    padding: 12px 15px;
    width: 60%;
    letter-spacing: 0.15px;
    outline: none;
    transition: 0.25s ease;
    box-shadow: 2px 2px 1px 0px #d1d9e6, inset 0px 0px 4px 3px #f9f9f9;
    font-size: 12px;
    display: block;
    margin-left: 70px;
    margin-bottom: 10px
}
